@model List<LTWeb09_Bai1.Models.ChuDe>
@{
    ViewBag.Title = "DSMenu_ChuDe";
}
<link href="~/Content/sidebar.css"/ rel="stylesheet">    
<div class="sidebar">
    <h4>📋 Danh sách chủ đề</h4>
    <ul class="dept-list">
        @foreach (var dept in Model)
        {
            <li>
                <a href="@Url.Action("HTSachTheoChuDe", "Sach", new { id = dept.MaChuDe })">
                    @dept.TenChuDe
                </a>
            </li>
        }
    </ul>
</div>
